<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>



<section>
  <h1>Edit this Book </h1>
    
    <form action="/books/<%= book._id %>?_method=PUT" method="POST">
      <label>
        Title: 
        <input type="text" name="title" autocomplete="off">
      </label>
      <label>
        Author: 
        <input type="text" name="author" autocomplete="off">
      </label>
      <label>
        Genre: 
        <input type="text" name="genre" autocomplete="off">
      </label>
      <label>
        Read?
        <input type="checkbox" name="read">
        <%= book.read ? "checked" : "" %> 
    </label>
    <button type="submit">Edit the Book</button>

    </form>
</section>



<%- include('../partials/footer') %>