<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


<section>
  <h1>Books! </h1>
  <% if (user) { %>
    <h2>Add a Book!</h2>
    <form action="/books" method="POST">
      <label>
        Title: 
        <input type="text" name="title" autocomplete="off">
      </label>
      <label>
        Author: 
        <input type="text" name="author" autocomplete="off">
      </label>
      <label>
        Genre: 
        <input type="text" name="genre" autocomplete="off">
      </label>
      <label>
        Read?
        <input type="checkbox" name="read">
      </label>
      <button type="submit">Add book</button>
    </form>
  <% } %>

  <h2>All the Books!</h2>
  <ol>
  <% books.forEach(book => { %>
  
      <li>Title: <%= book.title %> Author: <%= book.title %> <a href="/books/<%= book._id %>">More Info</a></li>


  <% }) %>
</ol>
</section>

<%- include('../partials/footer') %>